:root {
  --blanco: #fff;
  --dark: #212121;
  --primary: #ffc107;
  --secondary: #0097a7;
  --grey: #757575;
  --light-blue: #dfe9f3;
}

/** GLOBALES **/
html {
  font-size: 62.5%;
  font-family: 'Krub', sans-serif;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

/** Scroll Snap **/
.services,
.navbar,
.formulario {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 16rem; /* 1rem = 10px */
  /* background-image: linear-gradient(
    to top,
    #fef6ff,
    #ffecf6,
    #ffe3e1,
    #ffdec6,
    #f8deae
  ); */
  background-image: linear-gradient(
    to top,
    var(--light-blue) 0%,
    var(--blanco) 100%
  );
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.btn {
  background-color: var(--secondary);
  color: var(--blanco);
  padding: 0.8rem 3rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5rem;
  width: 90%;
  border: none;
}

@media (min-width: 768px) {
  .btn {
    width: auto;
  }
}

.btn:hover {
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(66, 66, 66, 0.64);
  -moz-box-shadow: 0px 5px 15px 0px rgba(66, 66, 66, 0.64);
  box-shadow: 0px 5px 15px 0px rgba(66, 66, 66, 0.64);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

/** TIPOGRAFÍA **/
h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

/** UTILIDADES **/
.w-sm-100 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-sm-100 {
    width: auto;
  }
}

.flex {
  display: flex;
}

.right-align {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

/** TÍTULOS **/
.header__title {
  text-transform: uppercase;
}

.header__title span {
  font-size: 2rem;
}

/** NAVEGACIÓN PRINICIPAL **/
.navbar--bg {
  background-color: var(--secondary);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar__links {
  text-decoration: none;
  color: var(--blanco);
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

.navbar__links:hover {
  background-color: var(--primary);
  color: var(--dark);
}

/** HERO SECTION **/
.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  position: relative;
  margin-bottom: 2rem;
}

.hero__content {
  position: absolute;
  background-color: rgb(37 37 37 / 70%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  color: var(--blanco);
}

.hero__ubication {
  display: flex;
  align-items: flex-end;
  color: var(--blanco);
}

/** SERVICES **/
@media (min-width: 768px) {
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.services__heading {
  color: var(--secondary);
  font-weight: 400;
  margin-bottom: 2rem;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__icon {
  height: 15rem;
  width: 15rem;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.services__paragraph {
  line-height: 2;
  text-align: center;
}

/** Contacto **/
.formulario {
  background-color: var(--grey);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario__fieldset {
  border: none;
}

.formulario__legend {
  color: var(--primary);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .formulario__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .formulario__campo:nth-child(3),
  .formulario__campo:nth-child(4) {
    grid-column: 1 / 3;
  }
}

.formulario__campo {
  margin-bottom: 1rem;
}

.formulario label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.formulario__input {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.formulario__campo textarea {
  height: 20rem;
}

/** Footer **/
.footer {
  margin-top: 2rem;
}
